* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.ant-layout-content {
  margin: 0 auto;
  max-width: 1000px;
}

.about-page p {
  max-width: 600px;
  font-size: 20px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.listing-card {
  margin: 10px;
  display: inline-block;
  width: 360px;
  padding: 5px;
}

/* Old styles */

.hero-image {
  width: 500px;
}

.hero-section {
  margin-top: 150px;
}

.white {
  background: white;
}
.boxed {
  padding: 20px;
  border-radius: 5px;
}

.container {
  max-width: 1000px;
  min-width: 80%;
  /* margin: 0 auto; */
  flex-grow: 1;
  min-height: 80vh;
  margin-top: 40px;
}

.success-text {
  color: green;
}

.centered {
  margin: 0 auto;
  text-align: center;
}

.error-text {
  color: red;
}

.dropzone {
  border: 1px dotted black;
  padding: 25px;
  cursor: pointer;
}

.listing-section {
  clear: both;
  margin-top: 50px;

}

.hero-slogan-section {
  font-size: 18px;
  font-weight: 500;
  margin-top: 50px;
  margin-left: 25px;
}

.hero-slogan {
  font-size: 28px;
}

.vertical-margin,
.standard-button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.pointer {
  cursor: pointer;
}

.search-input {
  min-width: 400px;
}

.ant-input,
input,
textarea {
  margin-bottom: 10px;
  margin-top: 10px;
}

.header-logo {
  padding-top: 12px;
}

.ant-layout-header {
  background: white;
}
